@media only screen and (min-width: 576px) {

    #Main_title, header nav a, header .media_links, .Search_box {
        background-color: rgba(0, 0, 0, 0.65);
    }

    header nav a:hover {
        color: #000;
        background-color: rgba(255, 255, 255, 0.75);
    }

    header nav a, .Search_box {
        transition: color 0.5s;
        transition: background-color 2s;
    }

    .column-container {
        display: flex;
        flex-direction: row;
    }

    .column-container .column {
        margin-left: 8px;
        margin-right: 8px;
        flex: 1;
        background-color: #eee;
        padding: 16px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    }


    #header_container {
        position: relative;
        height: 40vh;
        min-height: 300px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../img/bee-collecting-pollen.jpg");
        background-size: cover;
        transition: background-image 0.5s;
    }

    #header_container.Bee_image {
        background-image: url("../img/bee-collecting-pollen.jpg");
    }

    #header_container.tractor {
        background-image: url("../img/field-and-tractors.jpg");
    }

    #header_container.meadow {
        background-image: url("../img/meadow.jpg");
    }

    #queensu_logo {
        z-index: 3;
    }

    #Main_title, header nav, header .media_links, .Search_box {
        position: relative;
        z-index: 2;
    }

    #header_container .coat {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000;
        z-index: 1;
        display: none;
    }

    #Main_title {
        padding-right: 10%;
        padding-left: 10%;
    }

    #queensu_word_mark {
        padding-left: 10%;
    }

    header .media_links {
        border-top: 1px dotted rgba(255, 255, 255, 0.5);
        border-left: 1px dotted rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 10%;
        padding-left: 16px;
    }
    header nav a, .Search_box {
        border-right: 1px dotted rgba(255, 255, 255, 0.5);
        width: 150px;
        padding-bottom: 16px;
        padding-left: 10%;
        padding-right: 16px;
        padding-top: 16px;
    }
    header nav input {
      max-width: 134px;
    }

    header .media_links ul {
        overflow: hidden;
    }
    ..header-gallery figure img {
        height: 150px;
    }
    header .media_links li {
        float: left;
    }
    article, main {
        margin-left: 10%;
        margin-right: 10%;
    }


    @media only screen and (min-width: 1200px) {
        footer {
            background-image: url("../img/fas-diamonds.png");
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

    footer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (min-width: 768px) {
    #queensu_logo {
        display: block;
        width: 100px;
        position: absolute;
        top: 0;
        right: 10%;
    }
    #address, #contact-info {
        margin-left: 298px;
    }
    #unit-signature {
        width: 600px;
    }
}

@media only screen and (min-width: 992px) {
    #Main_title {
        font-size: 2.5rem;
    }
    .header-gallery figure img {
        height: 200px;
    }
    h1 {
        font-size: 2rem;
    }
    h2  {
        font-size: 1.75rem;
    }
}
}
